In [ ]:
#Visulisation of Tourism 
# x axis time (yyyy-mm) : y axis (Tourism international visitors arrivals) + nzd-usd-exchange rate

In [29]:
install.packages("ggcorrplot")
library(tidyverse)
library(ggplot2)
library(gtable)
library(grid)
library(ggcorrplot)
library(visdat)

#Fetch NZD VS. USD exchange rate history
# Normalization for each time formats
install.packages("timeDate")
install.packages("here")
library(timeDate)
library(tidyverse)
library(visdat)
library(here)
library(readxl)

# convert "1999-1" to "1999-03"
Yq2YmJC <- function(date) {
           dt = str_split(date, "-")
           y = dt[[1]][[1]]
           q = strtoi(dt[[1]][[2]], 10)
           m = q * 3
           mm = str_pad(m, 2, side = "left", pad = 0)
           ym = paste(y, mm, sep = "-")
           ym
       }

# convert "1999Q1" to "1999-03"
Yq2Ym <- function(date) {
           dt = str_split(date, "Q")
           y = dt[[1]][[1]]
           q = strtoi(dt[[1]][[2]], 10)
           m = q * 3
           mm = str_pad(m, 2, side = "left", pad = 0)
           ym = paste(y, mm, sep = "-")
           ym
       }

# convert "1999-3-29" to "1999-03"
Yqd2Ym <- function(date) {
           dt = str_split(date, "-")
           y = dt[[1]][[1]]
           m = strtoi(dt[[1]][[2]], 10)
           mm = str_pad(m, 2, side = "left", pad = 0)
           ym = paste(y, mm, sep = "-")
           ym
       }

# Convert "1999Q1" to the last day of quarter
Yq2Date <- function(date) {
           ym = Yq2Ym(date)
           ymd = paste(ym, "01", sep = "-")
           dt = as.Date(timeLastDayInMonth(ymd))
           dt
       }




# Convert "1999-03-29" to the last day of month
Yqd2Date <- function(date) {
          ym = Yqd2Ym(date)
          ymd = paste(ym, "01", sep = "-")
          dt = as.Date(timeLastDayInMonth(ymd))
          dt
       }

# convert "1999-03" to "1999Q1"
Ym2Yq <- function(date) {
           dt = str_split(date, "-")
           y = dt[[1]][[1]]
           m = strtoi(dt[[1]][[2]], 10)
           q = (m - 1) %/% 3 + 1
           yq = paste(y, q, sep = "Q")
           yq
       }

Installing package into ‘/home/jeffreychi/R/x86_64-pc-linux-gnu-library/4.2’
(as ‘lib’ is unspecified)

Installing package into ‘/home/jeffreychi/R/x86_64-pc-linux-gnu-library/4.2’
(as ‘lib’ is unspecified)

Installing package into ‘/home/jeffreychi/R/x86_64-pc-linux-gnu-library/4.2’
(as ‘lib’ is unspecified)

In [44]:
#Fetch all merged data
data_tourisms <- read_csv("data/tourism_final_clean_arriavals_1921Q1-2022Q2.csv", show_col_types = FALSE)
#data_tourisms <- read_csv("data/tourism_final_clean_arriavals_1921Q1-2022Q2.csv", col_select = c("Id", "date.quarter","Actual_counts"), show_col_types = FALSE)
data_tourisms$date.quarter = map_chr(data_tourisms$Time, Yq2YmJC)

m_nzd_usd <- data_tourisms %>%
    filter(date.datetime > as.Date("1999-01-01") & date.datetime < as.Date("2022-10-01"))
#df_nz_tourism <- data.frame(data_tourisms)
#colnames(df_nz_tourism)<-c('Id','date.quarter','Actual_counts')
#ata_tourisms %>% glimpse()
#head(data_tourisms)
data_tourisms%>%top_n(100)
#vis_miss(data_tourisms)

New names:
• `` -> `...1`
Selecting by date.quarter

    ...1 Time   Actual_counts date.quarter
1   306  1997-3 303872        1997-09
2   307  1997-4 439167        1997-12
3   308  1998-1 437939        1998-03
4   309  1998-2 277356        1998-06
5   310  1998-3 302823        1998-09
6   311  1998-4 466621        1998-12
7   312  1999-1 470759        1999-03
8   313  1999-2 299030        1999-06
9   314  1999-3 330065        1999-09
10  315  1999-4 507624        1999-12
11  316  2000-1 515170        2000-03
12  317  2000-2 340265        2000-06
13  318  2000-3 361686        2000-09
14  319  2000-4 571957        2000-12
15  320  2001-1 574432        2001-03
16  321  2001-2 376401        2001-06
17  322  2001-3 412438        2001-09
18  323  2001-4 546538        2001-12
19  324  2002-1 619454        2002-03
20  325  2002-2 377272        2002-06
21  326  2002-3 421513        2002-09
22  327  2002-4 626723        2002-12
23  328  2003-1 636915        2003-03
24  329  2003-2 365143        2003-06
25  330  2003-3 429335        2003-09
26  331  2003-4 674836        2003-12
27  332  2004-1 694113        2004-03
28  333  2004-2 451907        2004-06
29  334  2004-3 486614        2004-09
30  335  2004-4 715038        2004-12
⋮   ⋮    ⋮      ⋮             ⋮
71  376  2015-1  937673       2015-03
72  377  2015-2  591624       2015-06
73  378  2015-3  627847       2015-09
74  379  2015-4  974783       2015-12
75  380  2016-1 1061209       2016-03
76  381  2016-2  646551       2016-06
77  382  2016-3  704142       2016-09
78  383  2016-4 1088037       2016-12
79  384  2017-1 1104901       2017-03
80  385  2017-2  751124       2017-06
81  386  2017-3  733682       2017-09
82  387  2017-4 1144000       2017-12
83  388  2018-1 1191011       2018-03
84  389  2018-2  718234       2018-06
85  390  2018-3  755360       2018-09
86  391  2018-4 1198612       2018-12
87  392  2019-1 1195550       2019-03
88  393  2019-2  740276       2019-06
89  394  2019-3  768486       2019-09
90  395  2019-4 1184161       2019-12
91  396  2020-1  959044       2020-03
92  397  2020-2    7431       2020-06
93  398  2020-3   13782       2020-09
94  399  2020-4   16093       2020-12
95  400  2021-1   15384       2021-03
96  401  2021-2  141126       2021-06
97  402  2021-3   35195       2021-09
98  403  2021-4   15157       2021-12
99  404  2022-1   37892       2022-03
100 405  2022-2  221706       2022-06

In [40]:
# exchange rate NZD-USD
nzd_usd <- read_csv("data/nzd-usd_exchange_rate.csv", col_select = c("date", "USD exchange rate"), show_col_types = FALSE)
nzd_usd$date.month = map_chr(nzd_usd$date, Yqd2Ym)
nzd_usd$date.datetime = map(nzd_usd$date, Yqd2Date)

m_nzd_usd <- nzd_usd %>%
    filter(date.datetime > as.Date("1999-01-01") & date.datetime < as.Date("2022-10-01"))

m_nzd_usd$date.quarter = map_chr(m_nzd_usd$date.month, Ym2Yq)
# m_nzd_usd$usd_rate_m = m_nzd_usd$'USD exchange rate'
names(m_nzd_usd)[names(m_nzd_usd) == "USD exchange rate"] <- "usd_rate_m"

q_nzd_usd <- m_nzd_usd %>%
    group_by(date.quarter) %>%
    summarise(usd_rete_quarter = mean(usd_rate_m)) %>%
    mutate(date.quarter = map_chr(.$date.quarter, Yq2Ym))
colnames(q_nzd_usd)<-c('date.quarter','usd_rate_quarter')
q_nzd_usd %>% head(10)

   date.quarter usd_rate_quarter
1  1999-03      0.5383333
2  1999-06      0.5426667
3  1999-09      0.5253333
4  1999-12      0.5120000
5  2000-03      0.4986667
6  2000-06      0.4793333
7  2000-09      0.4420000
8  2000-12      0.4093333
9  2001-03      0.4333333
10 2001-06      0.4146667

In [46]:
#Merge tourisms arrivals data and nzd_usd_exchange_rate

#test_v = Yq2YmJC('1922-3')
#print(test_v)

#merge(df_nz_tourism, q_nzd_usd, by="date.quarter") 

data_tourisms %>% 
  left_join(q_nzd_usd, by = "date.quarter") %>%
  head()

  ...1 Time   Actual_counts date.quarter usd_rate_quarter
1 1    1921-2 2934          1921-06      NA
2 2    1921-3 1808          1921-09      NA
3 3    1921-4 3783          1921-12      NA
4 4    1922-1 3801          1922-03      NA
5 5    1922-2 1964          1922-06      NA
6 6    1922-3 1565          1922-09      NA

In [ ]:
#Plotting

p1 <- ggplot(data, aes(x = date.quarter, y =  ump_rate, group = 1)) +
    geom_line(aes(col = "Unemployment")) +
    geom_bar(aes(y = ump_rate, fill = "Unemployment"), stat = "identity", alpha=.3) +
    geom_line(aes(y = ocr_quarter, col = "Official Cash Rate")) +
    scale_fill_manual(values = c("Unemployment" = "dodgerblue3")) +
    scale_x_discrete(name = "Time(Quarterly)", breaks = x_breaks) +
    scale_y_continuous(name = "Unemployment Rate",
        # Add a second axis and specify its features
        sec.axis = sec_axis(~., name = "Official Cash Rate")) + 
    scale_color_manual(values = c("Unemployment" = "dodgerblue3", "Official Cash Rate" = "darkorange")) +
    theme(legend.position="bottom", plot.margin=grid::unit(c(0,5,0,5), "mm")) +
    theme(axis.text.x = element_text(angle = -45, hjust = 0.001)) + 
    coord_fixed(ratio = 6) +
    labs(color = " ", fill = " ", 
       title = paste0("Unemployment Rate ~ Official Cash Rate\nDate: ", Sys.Date()))
p1