In [ ]:
#airlines %>% head()
#flights2 %>%
#  select(-origin, -dest) %>% 
#  left_join(airlines, by = "carrier")

In [1]:
library(magrittr)
library(polite)
library(rvest)
library(here)
library(RSelenium)

ERROR: Error in library(here): there is no package called ‘here’

In [6]:
#Imprt CPI into datafrmae
nz_historical_cpi <- read.csv("data/cpi_nz.csv")
View(nz_historical_cpi)

    date       CPI
1   1995-3-30   4.00
2   1995-6-29   4.58
3   1995-9-29   3.54
4   1995-12-30  2.92
5   1996-3-30   2.21
6   1996-6-29   2.00
7   1996-9-29   2.38
8   1996-12-30  2.55
9   1997-3-30   1.79
10  1997-6-29   1.12
11  1997-9-29   1.02
12  1997-12-30  0.83
13  1998-3-30   1.29
14  1998-6-29   1.66
15  1998-9-29   1.75
16  1998-12-30  0.37
17  1999-3-30  -0.09
18  1999-6-29  -0.36
19  1999-9-29  -0.51
20  1999-12-30  0.51
21  2000-3-30   1.49
22  2000-6-29   2.00
23  2000-9-29   2.99
24  2000-12-30  3.98
25  2001-3-30   3.06
26  2001-6-29   3.24
27  2001-9-29   2.42
28  2001-12-30  1.82
29  2002-3-30   2.59
30  2002-6-29   2.75
⋮   ⋮          ⋮
82  2015-6-29  0.42
83  2015-9-29  0.42
84  2015-12-30 0.08
85  2016-3-30  0.42
86  2016-6-29  0.42
87  2016-9-29  0.42
88  2016-12-30 1.34
89  2017-3-30  2.17
90  2017-6-29  1.74
91  2017-9-29  1.90
92  2017-12-30 1.59
93  2018-3-30  1.10
94  2018-6-29  1.50
95  2018-9-29  1.90
96  2018-12-30 1.89
97  2019-3-30  1.48
98  2019-6-29  1.67
99  2019-9-29  1.46
100 2019-12-30 1.85
101 2020-3-30  2.53
102 2020-6-29  1.45
103 2020-9-29  1.44
104 2020-12-30 1.44
105 2021-3-30  1.52
106 2021-6-29  3.34
107 2021-9-29  4.93
108 2021-12-30 5.95
109 2022-3-30  6.93
110 2022-6-29  7.30
111 2022-9-29  7.23

In [7]:
nz_historical_hpi <- read.csv("data/hpi.csv")
View(nz_historical_hpi)

    date       HPI
1   1974-6-29   91
2   1974-12-30  98
3   1975-6-29  100
4   1975-12-30 103
5   1976-6-29  106
6   1976-12-30 110
7   1977-6-29  114
8   1977-12-30 114
9   1978-6-29  115
10  1978-12-30 116
11  1979-6-29  120
12  1979-12-30 122
13  1980-6-29  127
14  1980-12-30 135
15  1981-6-29  151
16  1981-12-30 175
17  1982-6-29  204
18  1982-12-30 215
19  1983-6-29  221
20  1983-12-30 234
21  1984-6-29  249
22  1984-12-30 263
23  1985-6-29  282
24  1985-12-30 301
25  1986-6-29  309
26  1986-12-30 323
27  1987-6-29  359
28  1987-12-30 394
29  1988-6-29  417
30  1988-12-30 422
⋮   ⋮          ⋮
284 2020-4-29  2843.4
285 2020-5-30  2832.0
286 2020-6-29  2807.4
287 2020-7-30  2804.9
288 2020-8-30  2804.7
289 2020-9-29  2827.4
290 2020-10-30 2902.3
291 2020-11-29 2963.3
292 2020-12-30 3029.2
293 2021-1-30  3099.5
294 2021-2-27  3167.5
295 2021-3-30  3230.7
296 2021-4-29  3366.6
297 2021-5-30  3412.5
298 2021-6-29  3447.5
299 2021-7-30  3500.5
300 2021-8-30  3561.9
301 2021-9-29  3613.5
302 2021-10-30 3738.2
303 2021-11-29 3804.9
304 2021-12-30 3865.2
305 2022-1-30  3951.9
306 2022-2-27  3965.8
307 2022-3-30  3986.7
308 2022-4-29  3999.5
309 2022-5-30  3934.7
310 2022-6-29  3875.0
311 2022-7-30  3833.1
312 2022-8-30  3768.5
313 2022-9-29  3418.3

In [12]:
library(tidyverse)
#build relationship between CPI and HPI
nz_historical_cpi %>%
  select(-CPI) %>% 
  left_join(nz_historical_hpi, by = "date")

    date       HPI
1   1995-3-30  573
2   1995-6-29  578
3   1995-9-29  593
4   1995-12-30 616
5   1996-3-30  648
6   1996-6-29  659
7   1996-9-29  659
8   1996-12-30 676
9   1997-3-30  692
10  1997-6-29  698
11  1997-9-29  703
12  1997-12-30 713
13  1998-3-30  706
14  1998-6-29  686
15  1998-9-29  674
16  1998-12-30 688
17  1999-3-30  699
18  1999-6-29  703
19  1999-9-29  704
20  1999-12-30 704
21  2000-3-30  703
22  2000-6-29  696
23  2000-9-29  696
24  2000-12-30 696
25  2001-3-30  700
26  2001-6-29  698
27  2001-9-29  705
28  2001-12-30 717
29  2002-3-30  736
30  2002-6-29  751
⋮   ⋮          ⋮
82  2015-6-29  1976.1
83  2015-9-29  2057.4
84  2015-12-30 2118.3
85  2016-3-30  2114.0
86  2016-6-29  2242.8
87  2016-9-29  2352.2
88  2016-12-30 2383.1
89  2017-3-30  2382.3
90  2017-6-29  2424.5
91  2017-9-29  2453.3
92  2017-12-30 2540.4
93  2018-3-30  2556.2
94  2018-6-29  2562.7
95  2018-9-29  2566.2
96  2018-12-30 2621.7
97  2019-3-30  2622.7
98  2019-6-29  2613.9
99  2019-9-29  2627.7
100 2019-12-30 2726.5
101 2020-3-30  2782.7
102 2020-6-29  2807.4
103 2020-9-29  2827.4
104 2020-12-30 3029.2
105 2021-3-30  3230.7
106 2021-6-29  3447.5
107 2021-9-29  3613.5
108 2021-12-30 3865.2
109 2022-3-30  3986.7
110 2022-6-29  3875.0
111 2022-9-29  3418.3