# Data 422 Group Assignment - Team Asclepius

Step 1 : Retrieve data from website

Retrieve CPI data from https://www.rateinflation.com/consumer-price-index/new-zealand-historical-cpi/

In [1]:
library(tidyverse)
library(rvest)
library(xml2)

── Attaching packages ─────────────────────────────────────────────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6     ✔ purrr   0.3.4
✔ tibble  3.1.8     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1
── Conflicts ────────────────────────────────────────────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Attaching package: 'rvest'


The following object is masked from 'package:readr':

    guess_encoding

In [2]:
url_reviews_page <- "https://www.rateinflation.com/consumer-price-index/new-zealand-historical-cpi/"

page_reviews <- read_html(url_reviews_page)

str(page_reviews)

List of 2
 $ node:<externalptr>
 $ doc :<externalptr>
 - attr(*, "class")= chr [1:2] "xml_document" "xml_node"

In [3]:
page_reviews %>% typeof()
page_reviews %>% glimpse()

[1] "list"

List of 2
 $ node:<externalptr>
 $ doc :<externalptr>
 - attr(*, "class")= chr [1:2] "xml_document" "xml_node"

In [4]:
popNodes <- html_nodes(page_reviews, "table")
popNodes

{xml_nodeset (1)}
[1] <table class="css-8rh80p eyyd7td0">\n<style data-emotion-css="1ctn0ky">.c ...

In [5]:
pop <- html_table(popNodes, header = TRUE, fill = TRUE)[[1]]
str(pop)

tibble [97 × 6] (S3: tbl_df/tbl/data.frame)
 $ Year  : int [1:97] 2022 2021 2020 2019 2018 2017 2016 2015 2014 2013 ...
 $ mar   : chr [1:97] "1,142.0" "1,068.0" "1,052.0" "1,026.0" ...
 $ jun   : chr [1:97] "1,161.0" "1,082.0" "1,047.0" "1,032.0" ...
 $ sep   : chr [1:97] "" "1,106.0" "1,054.0" "1,039.0" ...
 $ dec   : chr [1:97] "" "1,122.0" "1,059.0" "1,044.0" ...
 $ Annual: chr [1:97] "" "1,094.5" "1,053.0" "1,035.3" ...

In [6]:
#display first couple of rows
head(pop)

  Year mar     jun     sep     dec     Annual
1 2022 1,142.0 1,161.0
2 2021 1,068.0 1,082.0 1,106.0 1,122.0 1,094.5
3 2020 1,052.0 1,047.0 1,054.0 1,059.0 1,053.0
4 2019 1,026.0 1,032.0 1,039.0 1,044.0 1,035.3
5 2018 1,011.0 1,015.0 1,024.0 1,025.0 1,018.8
6 2017 1,000.0 1,000.0 1,004.9 1,006.0 1,002.7