In [1]:
library(rvest)

In [3]:
library(RSelenium)

In [4]:
rD <- rsDriver(verbose = FALSE, port = 4444L,  browser = "chrome", chromever = "106.0.5249.21")

In [5]:
remDr <- rD$client
remDr$navigate("https://www.stats.govt.nz/topics/tourism")

In [6]:
elem <- remDr$findElement(using="css selector", value="table")
web_page_src <- remDr$getPageSource()[[1]]
web_page <- read_html(web_page_src)

statsnz_data_html <- web_page %>%
                      html_nodes("table")
statsnz_data_html

{xml_nodeset (1)}
[1] <table>\n<thead><tr>\n<th class="text">Month-Year</th>\n<th class="text"> ...

In [7]:
table_node_table<-html_table(statsnz_data_html)
table_node_table

[[1]]
# A tibble: 121 × 3
   `Month-Year` Actual  `Seasonally adjusted`
   <chr>        <chr>   <chr>
 1 Jul-2012     173,539 211,860
 2 Aug-2012     178,298 219,550
 3 Sep-2012     179,069 214,660
 4 Oct-2012     184,200 215,070
 5 Nov-2012     232,119 213,460
 6 Dec-2012     363,959 220,730
 7 Jan-2013     260,637 214,540
 8 Feb-2013     281,233 218,910
 9 Mar-2013     270,740 224,190
10 Apr-2013     200,583 229,490
# … with 111 more rows

In [12]:
table_node_table %>%
    write.csv('data/tourism_international_visitors_arriavals_2012-2022.csv')

In [9]:
rD[["server"]]$stop()

[1] TRUE